@charset "EUC-KR";

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.head{
	font-size : 25px;
	font-weight : bold;
	font-family: 'InkLipquid';
}

.head .logo{
	float : left;
}

.head .logo .d-flex {
	height : 250px;
	
}

.head .logo img{
	width : 100px;
	height : 100px;
}

.bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
     }
	
     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
       .head .logo{
			height : 200px;
		}
       .head .logo img{
			width : 350px;
			height : 250px;
		}
		
     }	