@charset "EUC-KR";

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'InkLipquid';
}

.head{
	font-size : 25px;
	font-weight : bold;
}

.head .logo{
	height : 30%;
	float : left;
	margin-bottom : 30px;
}

.head .logo img{
	width : 100px;
	height : 100px;
	padding-bottom : 50px;
}

.head .list{
	width:60%;
	float : left;
}

.main .img_slide {
	margin-bottom: 10px;
}

.main .img_slide img{
	width : 100%;
	height : auto;
}

.main .sbb{
	margin: 10px;
}

.bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
     }
	
     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
       .head .logo{
			height : 200px;
			padding-top : -50px;	
		}
       .head .logo img{
			width : 350px;
			height : 350px;
			padding-bottom : 50px;
		}
		
     }	